<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-content-center">
                <h3 class="h4">Dữ liệu RRS</h3>
            </div>
            <div class="card-close">
                <button class="btn btn-success btn-sm">Xuất excel</button>
                <button class='btn btn-outline-danger btn-sm' id="selectAll" value="selectAll">
                    Chọn tất cả
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm" id="tableListRRS" style="display:none">
                        <thead>
                            <th>STT</th>
                            <th>Tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Thiết bị</th>
                            <th>Restore</th>
                            <th>Back up</th>
                            <th>IP</th>
                            <th>RRS Name</th>
                        </thead>
                        <tbody>
                            {{#each listRRS}}
                                <tr>
                                    <td>{{ add @index 1 }}</td>
                                    <td>{{ this.username }}</td>
                                    <td>{{ this.password }}</td>
                                    <td>{{#if this.addressName}}
                                            <p>{{this.addressName}}</p>
                                        {{else}}
                                            <p>{{this.fullname}}</p>
                                        {{/if}}
                                    </td>
                                    <td>{{ this.phoneNumber }}</td>
                                    <td>{{ this.deviceName }}</td>
                                    {{#if this.isRestore}}
                                        <td>
                                            <p class="text-success">
                                                {{ this.isRestore }}
                                            </p>
                                        </td>
                                    {{ else }}
                                        <td>
                                            <p class="text-danger">
                                                {{ this.isRestore }}
                                            </p>
                                        </td>
                                    {{/if}}
                                    {{#if this.isBackUp}}
                                        <td>
                                            <p class="text-success">
                                                {{ this.isBackUp }}
                                            </p>
                                        </td>
                                    {{ else }}
                                        <td>
                                            <p class="text-danger">
                                                {{ this.isBackUp }}
                                            </p>
                                        </td>
                                    {{/if}}

                                    <td>
                                        {{#if (eq this.ipAddr "Dang nhap that bai")}}
                                            <p class="text-danger">
                                                {{ this.ipAddr }}
                                            </p>
                                        {{ else }}
                                            <p class="text-info">
                                                {{ this.ipAddr }}
                                            </p>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{this.rrsName}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
