<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-content-center">
                <h3 class="h4">Dữ liệu RRS</h3>
            </div>
            <div class="card-close">
                <button class="btn btn-success btn-sm">Xuất excel</button>
                <button class='btn btn-outline-danger btn-sm' id="selectAll" value="selectAll">
                    Chọn tất cả
                </button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm" id="tableListRRS" style="display:none">
                        <thead>
                                <th>STT</th>
                                <th>Tài khoản</th>
                                <th>Mật khẩu</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th>Thiết bị</th>
                                <th>Restore</th>
                                <th>Back up</th>
                        </thead>
                        <tbody>
                            {{#each listRRS}}
                            <tr>
                                <td>{{add @index 1}}</td>
                                <td>{{this.username}}</td>
                                <td>{{this.password}}</td>
                                <td>{{this.addressName}}</td>
                                <td>{{this.phoneNumber}}</td>
                                <td>{{this.deviceName}}</td>
                                <td>{{this.isRestore}}</td>
                                <td>{{this.isBackUp}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
